*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #161815;
}
.section-padding{
    padding: 70px 0;
}
.carousel-item{
    height: 80vh;
    min-height: 300px
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.p;
}
.carousel-inner::before{
content:'';
position:absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0,30,82, 0.327);
z-index: 1;
}
.navbar-nav a{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 25px;
}

.navbar-dark .navbar-brand{
    color: #fff;
    font-size: 25px;            
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color: #000;
}
.w-100{
    height: 100vh;
}
.navbar-toggler{
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}
.services .card-body i {
    font-size: 50px;
}
.team .card-body i{
    font-size: 20px;
}
@media(max-widht:767px){
.navbar-nav{
text-align: center;
}
.carousel-item{
    height: 70vh;

}
.w-100{
    height: 70vh;
}
.carousel-caption{
    bottom: 125px;
}
.carousel-caption h5{
    font-size: 17px 15px;
}
.carousel-caption a {
padding: 10px 15px;
font-size: 15px;
}
.carousel-caption p{
    width: 100%;
    line-height: 1.5;
    font-size: 12px;
}
.about-text{
    padding-top: 50px;
}
.card{
    margin-bottom: 30px;
}
.section-padding{
    padding: 50px 0;
}
}
